<!DOCTYPE html>
{% load static %}

<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="{% static 'stylesheets/index_out/index.css'%}" rel="stylesheet">
<script data-main="/static/javascripts/index", src='http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js'></script>
</head>
<body>
    <h1>This is index</h1>
    <button><a href="/signup">Sign up</a></button>
    <form action="/signup/" method="post">
        account:<input name="account" type="text">
        password:<input name="password" type="text">
        email:<input name="email" type="text">
        <input type="submit" name="submit" value="signup">
    </form>
</body>
</html>