<!DOCTYPE html>
{% load static %}

<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Rpack{% block title %}{% endblock %}</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="{% static 'stylesheets/index_out/index.css'%}" rel="stylesheet">
<script data-main="/static/javascripts/index", src='http://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.4/require.min.js'></script>
</head>
<body>
    {% include "header/header_in.html"%}
    {% block content %} {% endblock %}
    {% include "footer/footer_in.html"%}

</body>
</html>